<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "RecruiteeTestSuite">

   <test name = "OneRecruitee">
      <classes>
         <class name = "recruitee.OneRecruitee" />
      </classes>
   </test>
  
   <test name = "TwoRecruitee">
      <classes>
         <class name = "recruitee.TwoRecruitee" />
      </classes>
   </test>
  
</suite>  	